<configuration>
	<configSections>
		<section name="bizapp.runtime" type="BizAPP.Runtime.Core.Configurations.BizAPPConfigurationSection, BizAPP.Runtime.Core" />
	</configSections>
	<appSettings>
		<add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
	</appSettings>
	<bizapp.runtime>
		<sessionState enabled="false" serializationMode="All" />
		<tenantServices provider="Default" type="BizAPP.Runtime.Core.Framework.Service.Tenancy.TenantService, BizAPP.Runtime.Core.Framework, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f">
			<properties>
				<add name="allowMetadataCustomizations" value="false" />
				<add name="useStubbedResources" value="true" />
			</properties>
		</tenantServices>
	</bizapp.runtime>
	<runtime>
		<loadFromRemoteSources enabled="true" />
	</runtime>
</configuration>